<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kz.ztokbayev.greetgo.discoveries.db.DiscovererMapper">

	<!-- Добавить открывателя -->	    
    <insert id="addDiscoverer" parameterType="kz.ztokbayev.greetgo.discoveries.model.Discoverer"
    		flushCache="true" statementType="PREPARED" timeout="20">
        insert into discoverers (firstname, lastname, middlename) 
        	values(#{firstname}, #{lastname}, #{middlename}) 
    </insert>
    
	<!-- Получить всех открывателей -->	    
    <select id="getDiscoverers" resultType="kz.ztokbayev.greetgo.discoveries.model.Discoverer">
        select * from discoverers
    </select>
    
    <!-- Получить открывателя по ID -->
    <select id="getDiscovererById" parameterType="java.lang.Integer" resultType="kz.ztokbayev.greetgo.discoveries.model.Discoverer">
        select * from discoverers where id = #{id}  
    </select>
    
    <!-- Обновить открывателя -->
    <update id="updateDiscoverer" parameterType="kz.ztokbayev.greetgo.discoveries.model.Discoverer"
    		flushCache="true" statementType="PREPARED" timeout="20">
        update discoverers set
        	firstname = #{firstname},
        	lastname = #{lastname},
        	middlename = #{middlename}
        where id = #{id}
    </update>
</mapper>